[mgr]
ratio = [1, 4, 3]
sort_by = "alphabetical"
sort_dir_first = true
sort_translit = false
linemode = "size"
show_hidden = true
show_symlink = true
scrolloff = 5

[preview]
tab_size = 2
max_width = 600
max_height = 900
cache_dir = ""
image_filter = "triangle"
image_quality = 75
sixel_fraction = 15
ueberzug_scale = 1
ueberzug_offset = [0, 0, 0, 0]

[opener]
edit = [
  { run = 'zed "$@"', block = true, desc = "Edit with Zed" },
  { run = 'vim "$@"', block = true, desc = "Edit with Vim" },
]
play = [
  { run = 'mpv "$@"', orphan = true, desc = "Play with mpv" },
]
reveal = [
  { run = 'xdg-open "$(dirname "$0")"', desc = "Reveal in file manager", orphan = true },
]
